.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  color: aliceblue;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
}

.book-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0 40px 0;
  gap: 15px;
}

.book-section a {
  text-decoration: none;
  color: wheat;
  font-weight: 100;
  font-size: small;
}

.book-section a:hover {
  color: rgb(255, 255, 0);
}

.book-section p {
  color: rgb(129, 102, 219);
  font-weight: 100;
  font-size: small;
}

.book-section h3 {
  color: rgb(9, 97, 138);
  font-weight: 700;
  font-size: large;
} 

.books {
  margin-bottom: 10%;
  width: 20%;
  margin: 10px;
}

.book-cover {
  width: 80%;
  height: auto;
  border-radius: 5px;
}

.search-button{
  border-radius: 15px;
  border: 0;
  margin: 20px;
  width: 7%;
  background-color: rgb(221, 218, 12);
  text-align: center;
  height: 30px;
}
.search-button:hover {
  background-color: rgb(255, 255, 0);
  cursor: pointer;
}

.search-input {
  border-radius: 15px;
  border: 0;
  height: 30px;
  margin: 20px;
  padding-left: 8px;
}

.load-button {
  border-radius: 15px;
  border: 0;
  margin: 20px;
  min-width: 9%;
  background-color: rgb(12, 85, 221);
  text-align: center;
  height: 30px;
}

.load-button:hover {
  background-color: rgb(0, 128, 255);
  cursor: pointer;
}